  .header__PageStockList table{
    width: 100%;
    color: #FFF;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
  }
  .header__PageStockList table tr:first-child {
    background-color:#292828 !important;
  }
  
  .header__PageStockList table tr td {
    padding:15px 40px;
    text-align: left;
  }