.App {
  background-image: url("../src/shared/images/background.jpg");
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.AppMain__wrapper{
  display: flex;
}
.AppMain__roadMap{
  flex: 0.4;
  display: flex;
}
.AppMain__gamerLobby{
  flex: 0.6;
  display: flex;
}